
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header{
  background-color: #007bff;
}


.my-0{
  color: white;
}

#second {
  background-color: lightslategray;
  padding: 30px 0;
}

#third{
  background-color: white;
  padding: 30px 0;
}

.foot{
  background-color: lightslategray;
  padding: 20px;
}

.foot p{
  color: white;
  transform: translateY(35%);
}

